baseURL = 'https://wahidkadwaikar.github.io'
languageCode = 'en-us'
title = 'Letters from L1'
theme = 'kagami'

[pagination]
  pagerSize = 10

[params]
  mainSections = ["posts"]
  description = "Personal notes on software, systems, and engineering."
  title = "Letters from L1"
  author = "Wahid Kadwaikar"

  [params.social]
    github = "wahidkadwaikar"

[[menu.main]]
  name = "Home"
  url = "/"
  weight = 1

[[menu.main]]
  name = "Posts"
  url = "/posts/"
  weight = 2

[[menu.main]]
  name = "Projects"
  url = "/projects/"
  weight = 3

[[menu.main]]
  name = "About"
  url = "/about/"
  weight = 4

[taxonomies]
  tag = "tags"
  series = "series"

[markup.highlight]
  codeFences = false

[markup.goldmark.renderer]
  unsafe = true

[markup.goldmark.extensions]
  definitionList = true
  footnote = true
  linkify = true
  strikethrough = true
  table = true
  taskList = true
  typographer = true

[markup.goldmark.parser]
  autoHeadingID = true
  autoHeadingIDType = 'github'

[markup.goldmark.parser.attribute]
  block = false
  title = true
